@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
body{
    padding: 0px;
    margin: 0px;
  

}
*{
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --pink: #595959;
    --brown:#f3cd21;
    --white: #fff;
    --black: #222;
    --transperant-white: rgba(255, 255, 255, .3);
    --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}
.header{

    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 100px;
}
.logo img{
    width: 200px;
}
.navbar{
display: flex;
}
.navbar li{
padding: 10px 30px;
font-weight: 700;
}
.navbar li:hover{
padding: 10px 30px;
font-weight: 600;
color: var(--brown);
border-bottom: 2px solid  var(--brown);
cursor: pointer;
}
.header a{
    color:var(--black);
    font-weight: 600;
    background-color: var(--brown);
    padding: 10px 30px;
    border-radius: 5px;
}

.top-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    background-color:var(--brown);
    color: var(--black);
}
.Contact{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Contact a{
    padding-right: 10px;
    color: var(--black);
}
.Contact i{
    color: var(--black);
    padding-right: 10px;
    font-size: 20px;
}
.icon i{
    color: white;
    font-size: 20px;
    margin: 10px;

}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home{
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
}
.home-left{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: -100px;
}
.home-left h1{
   font-size: 40px;
   color: var(--brown);
}
.home-left h3{
   font-size: 18px;
   color: var(--white);
   margin-top: -20px;
   margin-bottom: 50px;
}
.home-flex{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-flex a{
    padding: 10px 30px ;
    color: var(--white);
  border: 1px solid var(--white);
  border-radius: 5px;
    border-radius: 5px;
}
.home-right img{
width: 350px;
}
.btn{
    padding: 10px 30px ;
    color: var(--white);
    background-color: var(--brown);
    border-radius: 5px;
    border: none;
}
.about{
    background-color: var(--pink);
    padding: 30px 0px;
}
.about h1{
    width: 200px;
    margin: 0px auto;
    text-align: center;
    color: white;
    font-size: 35px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--brown);
    
}
.about h1 span{
    color: var(--brown);

}
.main-about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    padding-top: 20px;
}
.about .img-left{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.flex span{
    color: var(--brown);
}
.about .img-left h2{
  color: var(--brown);
}
.about .img-left .flex img{
width: 100px;
margin-right: 15px;
}
.img-right{
    width: 30%;
}
.img-right img{
    width: 100%;
    max-width: 400px;
}
.port {
    background-color: var(--black);
    padding: 50px 0px;
}
.port h1{
    width: 250px;
    margin: 0px auto;
    text-align: center;
    color: white;
    font-size: 35px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--brown);
    
}
.port  h1 span{
    color: var(--brown);

}
.port1{
    width: 90%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.port1 .port-child{
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}
.port1 .port-child img{
    width: 200px;
    
}
.port1 .port-child h3{
   color: var(--brown);

}
.port1 .port-child p{
   color: var(--white);

}
.portfolio3{
    background-color:var(--pink);
    padding: 30px 0px;
}
.portfolio3 h1 {
    width: 250px;
    margin: 0px auto;
    text-align: center;
    color: white;
    font-size: 35px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--brown);
    
}

.portfolio3 h1 span {
    color: var(--brown);
    font-weight: 600;
}
.contact-us{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
}
.contact-us .contact-left{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
   width: 40%;
    margin-left:200px;
    margin-top: -100px;
}
.contact-us .contact-left .logo img{
    width: 250px;
    margin-bottom: 30px;
}
.contact-us .contact-left a i{
   color: var(--black);
   background-color: var(--brown);
   padding: 10px;
   border-radius: 30px;
   margin-right: 10px;
   margin: 10px 15px 10px 0px;
}
.contact-us .contact-left a{
  font-weight: 600;
  color: var(--white);
  font-size: 18px;
}
.contact-us .contact-right{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}
.contact-us .contact-right form{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    box-shadow: var(--box-shadow);
    padding: 30px ;
    border-radius: 10px;
}
.input1{
    display: flex;
    flex-direction: column;
}
.contact-us .contact-right label{
color: var(--brown);
font-weight: 600;
}
.contact-us .contact-right form input,textarea{
box-shadow: var(--box-shadow);
    width: 100%;
    padding: 10px;
    margin: 7px 0px;
    border: none;
    border-radius: 5px;
    background-color: var(--pink);
}
.contact-us .contact-right form input,textarea::placeholder{
color: var(--white);
}
.contact-us .contact-right form input::placeholder{
color: var(--white);
}
.contact-us .contact-right form input[type=submit]{
    width: 30%;
    padding: 10px;
    font-weight: 600;
    color: var(--black);
    cursor: pointer;
    background-color: var(--brown);
    
}
.main-footer{
    width: 100%;
    margin: 0px auto;
    background-color: var(--brown);
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 60px;
    
}
.main-footer-child{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
 width: 380px;
    margin: 10px;
}
.main-footer-child h2{
color: var(--black);
text-transform: capitalize;
text-decoration: underline;
}
.social-media-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.social-media-icon i{
    padding: 12px;
    border-radius: 50%;
    color: var(--blue);
    border: 2px solid var(--blue);
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
}
.social-media-icon i:hover{
    color: var(--white);
    background-color: var(--blue);
}
.main-footer-child nav ul{
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 20px;
    text-transform: capitalize;
}
.main-footer-child nav ul a{
    padding: 8px 0px;
color: var(--black);
font-weight: 600;
}
.main-footer-child nav ul a:hover{
    color: var(--blue);
    text-decoration: underline;
    letter-spacing: .1rem;
    
}
.main-footer .main-footer-child p{
    padding: 10px 0px;
}
.main-footer-child nav ul i{
    color: var(--blue);
    padding-right: 10px;
    font-size: 20px;
}
.subscribe{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 380px;
}
.main-footer .main-footer-child .subscribe form {

    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: -150px;
}
.main-footer .main-footer-child .subscribe form input{
    color: var(--blue);
    width: 240px;
    border-radius: 50px;
    padding: 10px;
    border: none;
}
.main-footer .main-footer-child .subscribe form input[type=submit]{
  background-color: var(--black);
    width: 240px;
    border: none;
    color: var(--white);
    border-radius: 50px;
    margin-top: 10px;
}
.main-footer .main-footer-child .subscribe form input:hover{
    color: var(--white);
}
.tagline{
    background-color: var(--black);
    margin-top: -13px;
}
.tagline h2{
    text-align: center;
    padding: 10px 0px;
    color: var(--white);
    font-size: 15px;
}
.tagline span{
    text-align: center;
    color: var(--white);
}


